@import "tailwindcss";
@import "tw-animate-css";

/* Light & Dark CSS variables */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .bg-popover {
    background-color: var(--popover);
  }

  .bg-card {
    background-color: var(--card);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .border-border {
    border-color: var(--border);
  }
}

/* Base Styles */
@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in oklab, var(--ring), transparent);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* Post Content Styling */
.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.post-content h2 {
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(6, 6, 206);
  text-decoration: none;
}

.post-content a:hover {
  color: blue;
  text-decoration: underline;
}
